<div class="note m-4 p-3 rounded minh d-flex flex-column justify-content-between" >
    <div>
        <div class="d-flex inline justify-content-between align-items-center">
          <h5 class="card-title">{{ info.title }}</h5>
          <a routerLink="/profile/{{info.user}}" class="card-link">{{ info.user }}</a>
        </div>
        <h6 class="card-subtitle mb-2 text-body-secondary"> {{ info.updatedAt | date:'dd/MM/YYYY HH:mm'}} </h6>
        <p class="card-text">{{ info.description }}</p>
      </div>
    <div class="dropdown ms-auto" *ngIf="ownProfile">
        <button class="btn btn-primary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
            </svg>
        </button>
        <ul class="dropdown-menu ">
            <li><a class="dropdown-item" routerLink="/notes/edit/{{info.id}}">Edit</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="removeNote(info.id)">Delete</a></li>
        </ul>
    </div>
</div>

