

<div class="center beautiful-radius">

  <div @inOutAnimation class="msg p-2" *ngIf="invalid.register">
    <p>{{helperMsg.register}}</p>
  </div>
  <div @inOutAnimation class="msg p-2" *ngIf="userCreated">
    <p>{{helperMsg.register}}</p>
  </div>

    <div class="card">
      <img src="../../../assets/img/notes.png" alt="notes">
        <h3 class="mt-4">Sign up</h3>
        <p>and start to create your notes!</p>
        <form [formGroup]="regForm" class="mb-3">
            <div class="form-floating mb-2 mt-2">
                <input type="text" class="form-control" placeholder="Username" formControlName="username" (input)="checkUsername()">
                <label for="floatingInput">Username</label>
                <div>
                  <div *ngIf="loading">
                    <span class="spinner-border spinner-border-sm text-dark" role="status"></span>
                    <span> Checking...</span>
                  </div>
                  <div *ngIf="invalid.username && !loading" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                      <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0zM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0"/>
                    </svg>
                    <span class="text-danger">{{helperMsg.username}}</span>
                  </div>
                  <div *ngIf="!invalid.username && !loading">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-lg" viewBox="0 0 16 16">
                      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                    <span class="text-success">{{helperMsg.username}}</span>
                  </div>
                </div>
              </div>
              <div class="form-floating mb-2 mt-2" >
                
                <input type="password" class="form-control" placeholder="Password" formControlName="password" (input)="checkPasswords()">
                <label for="floatingPassword">Password</label>
                <div>
                  <div *ngIf="invalid.password" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                      <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0zM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0"/>
                    </svg>
                    <span class="text-danger">{{helperMsg.password}}</span>
                  </div>
                  <div *ngIf="!invalid.password">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-lg" viewBox="0 0 16 16">
                      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                    <span class="text-success">{{helperMsg.password}}</span>
                  </div>
                </div>
              </div>
              <div class="form-floating mb-2 mt-2" >
                <input type="password" class="form-control" placeholder="Confirm password" formControlName="confirmPassword" (input)="checkPasswords()">
                <label for="floatingPassword">Confirm password</label>
                <div>
                  <div *ngIf="invalid.confirmPassword" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                      <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0zM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0"/>
                    </svg>
                    <span class="text-danger">{{helperMsg.confirmPassword}}</span>
                  </div>
                  <div *ngIf="!invalid.confirmPassword">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-lg" viewBox="0 0 16 16">
                      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                    <span class="text-success">{{helperMsg.confirmPassword}}</span>
                  </div>
                </div>
              </div>
              <div class="d-grid mt-4">
                <button class="btn btn-bd-primary btn-lg" type="button" (click)="submit()">Register</button>
              </div>
        </form>
        <p>Already a member? <a routerLink="/login">Sign in here</a></p>
    </div>
</div>
