

<div class="container">

  <h1 class="m-5">My Notes</h1>

  @if(!loading){

    <div class="container notes">

      <button class="m-4 p-3 rounded btn btn-card minh" routerLink="add">
        <div class="card-body ">
          <img src="../../../../assets/icons/add.svg" alt="" style="max-width: 5vw;">
        </div>
      </button>
    
      @for(note of notes; track note.id){
        <app-note (noteRemoved)="removeNote($event)" [info]="note"></app-note>
      }

    </div>

  }@else{

    <p class="m-4 p-3">Cargando...</p>
    
  }

</div>
