

<div class="container">

  <h1 class="m-5">My Notes</h1>

  <div class="container" *ngIf="!loading; else loadingTemplate">

    <div class="container notes">

      <button class="m-4 p-3 rounded btn btn-card minh" routerLink="add">
        <div class="card-body ">
          <img src="../../../../assets/icons/add.svg" alt="" style="max-width: 5vw;">
        </div>
      </button>
      
      <div *ngFor="let note of notes" >
        <app-note (noteRemoved)="removeNote($event)" [info]="note"></app-note>
      </div>
    </div>

  </div>

  <ng-template  #loadingTemplate>
    <p>Loading...</p>
  </ng-template>

</div>
